table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

input[type="text"] {
    width: 50%;
}

button {
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    float: left;
    opacity: 0.85;
}
button:hover {opacity: 1}

.buttonDanger {
    background-color: #DC143C; /* Red */
    border: 1px solid #B22222;
}